.container {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  margin-bottom: 1.5rem;
  border: 1px solid #f35815;
  border-radius: 0.5rem;
  position: relative;
}

.img {
    width: 100%;
    height: auto;
    padding-bottom: 1em;
}

.filmeContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.title {
  font-size: 0.9rem;
}
.load {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.reps {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.mb {
  margin-bottom: 2rem;
}

.time {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.buttons {
  position: absolute;
  display: flex;
  bottom: 0.1rem;
  right: 1rem;
}
.delete, .edit, .like {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f35815;
  font-size: 1rem;
}

.edit {
  margin-right: 1rem;
}


@media (min-width: 320px) and (max-width: 768px) {  
  .container {
    width: 100%;
    padding: 20px;
  }
  .container h2 {
    font-size: 2rem;
  }
  .reps {
    font-size: 1rem;
  }
}
