.container {
  color: #d8d8d8;
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.filmeHeading {
  text-align: center;
  margin-top: 1rem;
}

.email {
  color: #f35815;
}

.noFilme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.loading {
  color: #f35815;
  margin-top: 1rem;
}

.loading {
  text-align: center;
  color: #d8d8d8;
  height: 100vh;
}


.cardContainer {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  margin-bottom: 1.5rem;
  border: 1px solid #f35815;
  border-radius: 0.5rem;
  position: relative;
  color: white;
}

.img {
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}

.filmeContainer {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
margin-top: 2rem;
}

.cardTitle {
  font-size: 0.9rem;
}
.load {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.reps {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.time {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
.buttons {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 0.1rem;
  right: 1rem;
}
.delete, .edit, .like {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f35815;
  font-size: 1rem;
}

@media (min-width: 320px) and (max-width: 768px) {  
  .container {
    width: 100%;
    padding: 20px;
  }
  .container h2 {
    font-size: 2rem;
  }
  .reps {
    font-size: 1rem;
  }
}
