.body { padding-top: 70px; }

nav .container {
  color: #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.navContent {
  display: flex;
  align-items: center;
}

.container h1 {
  text-align: left;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
}

.name {
  margin-right: 2rem;
  color: #f35815;
  cursor: pointer;
}

.button {
  border: 1px solid #f35815;
  background-color: transparent;
  color: #d8d8d8;
  padding: 0.5rem 2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 1.5rem;
}


.button a:hover {
  transform: scale(1.1);
}


@media (min-width: 320px) and (max-width: 900px) {
  nav .container {
    display: flex;
    flex-wrap: wrap;
  }
  .container ul {
    margin: 15px 15px 15px 0;
  }
  .button {
    margin-right: 0.5rem;
    padding: 5px 10px;
  }
  }